{% extends "base.html" %}

{% block title %}
About
{% endblock %}
{% block body %}

<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
   <div class="row">
        <div class="large-4 columns">
          <p></p>
        </div>
        <div class="large-4 columns">
          <p class="text-center">
            Take The A Train
          </p>
           <p class="text-center">
            This hack allows the user to "play" New York City's A line. Our team has assigned meaningful sounds to locations all along the 8th Avenue Express route. As you ride, your distance from each audio source is computed... 
          </p>
        </div>
        <div class="large-4 columns">
          <p></p>
        </div>
        </div>


<div class="row">
  <p></p>
</div>


        <div class="row">
          <div class="large-4 columns">
            <p></p>
          </div>
          <div class="large-4 columns">
            <p class="text-center">
            <a href="/" class="button small">Home</a>
          </p>
          </div>
          <div class="large-4 columns">
            <p></p>
          </div>
        </div>
      
     
       
     
     
       
     
      

{% endblock %}

