{% extends "base.html" %}

{% block title %}
Dossier
{% endblock %}
{% block body %}

<div class="row">
  <p></p>
</div>

<div class="row">
  <p></p>
</div>

<div class="row">
  <p></p>
</div>

<div class="row collapse">

	<div class="large-2 columns">
    <div class="hometext">
    	<p></p>
    </div>
	</div>

	
	<div class="large-2 columns">
		<div class="hometext">
			<a href="/1"><img src="{{ url_for('static', filename='img/1.png', _external=True) }}" /></a>
		</div>
	</div>

<div class="large-1 columns">
    <div class="hometext">
    	<p></p>
    </div>
</div>


  <div class="large-2 columns">
    <div class="hometext">
    	<a href="/2"><img src="{{ url_for('static', filename='img/2.png', _external=True) }}" /></a>
    </div>
  </div>

<div class="large-1 columns">
    <div class="hometext">
    	<p></p>
    </div>
</div>


  <div class="large-2 columns">
		<div class="hometext">
			<a href="/3"><img src="{{ url_for('static', filename='img/3.png', _external=True) }}" /></a>
		</div>
  </div>

<div class="large-2 columns">
    <div class="hometext">
    	<p></p>
    </div>
</div>



</div>

<div class="row collapse">

<div class="large-2 columns">
    <div class="hometext">
    	<p></p>
    </div>
</div>


  <div class="large-2 columns">
    <div class="hometext">
    	<a href="/4"><img src="{{ url_for('static', filename='img/4.png', _external=True) }}" /></a>
    </div>
  </div>

<div class="large-1 columns">
    <div class="hometext">
    	<p></p>
    </div>
</div>

<div class="large-2 columns">
	<div class="row">
	<div class="large-12 columns">
		<div class="hometext">
			<a href="#"><img src="{{ url_for('static', filename='img/6.png', _external=True) }}" /></a>
		</div>
	</div>
	</div>
	<div class="row">
	<div class="large-12 columns">
		<div class="hometext">
			<a href="#"><img src="{{ url_for('static', filename='img/7.png', _external=True) }}" /></a>
		</div>
	</div>
	</div>
</div>

<div class="large-1 columns">
    <div class="hometext">
    	<p></p>
    </div>
</div>

  <div class="large-2 columns">
		<div class="hometext">
			<a href="#"><img src="{{ url_for('static', filename='img/5.png', _external=True) }}" /></a>
		</div>
	</div>





<div class="large-2 columns">
    <div class="hometext">
    	<p></p>
    </div>
</div>

</div>


<div class="row">
  <p></p>
</div>

<div class="row">
  <p></p>
</div>

<div class="row">
  <p></p>
</div>
     
    

{% endblock %}