{% extends "base.html" %}

{% block title %}
Take the A Train
{% endblock %}
{% block body %}



<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>

<div class="row">
        <div class="large-3 columns">
          <p></p>
        </div>
        <div class="large-6 columns">
          <div class="hometext">
          <h class="text-center">
            Sarah Thompson
          </h>
           <p class="text-center">
            Introductory Dossier text (500 words)
          </p>
      </div>
        </div>
        <div class="large-3 columns">
          <p></p>
        </div>
        </div>


<div class="row">
  <p></p>
</div>



<div class="row collapse">

	
	<div class="large-6 columns">
		<div class="hometext">
			<h class="text-center">
            <a href='/dossier'>Dossier</a>
      </h>
		</div>
	</div>

  <div class="large-6 columns">
    <div class="hometext">
      <h class="text-center">
            Comparison
      </h>
    </div>
  </div>

</div>




<strong class = "hide-for-medium">
<strong class = "hide-for-small">	
<div class="row">
	<div class="footer">
            <div class="large-12 columns">
              <ul class="inline-list right">
                <li><a href="#"><img src="{{ url_for('static', filename='img/git.png', _external=True) }}" /></a></li>
              
              </ul>
            </div>
          </div>
</div>
</strong>
</strong>


   

<!--

        <div class="row">
          <div class="large-4 columns">
            <p></p>
          </div>
          <div class="large-4 columns">
            <p class="text-center">
            <a href="/" class="button small">Home</a>
          </p>
          </div>
          <div class="large-4 columns">
            <p></p>
          </div>
        </div>

-->
        

<!--
<strong class = "show-for-small">
	<div class="row">
		<div class = "smallfooter">
            <div class="large-12 columns">
            <div class="hometext">
              <ul class="inline-list">
                <li><a href="#"><img src="{{ url_for('static', filename='img/lsifb.png', _external=True) }}" /></a></li>
                <li><a href="#"><img src="{{ url_for('static', filename='img/lsitwitter.png', _external=True) }}" /></a></li>
                <li><a href="#"><img src="{{ url_for('static', filename='img/lsiinsta.png', _external=True) }}" /></a></li>
                <li><a href="#"><img src="{{ url_for('static', filename='img/lsimail.png', _external=True) }}" /></a></li>
              </ul>
          </div>
            </div>
          </div>
</div>
</strong>
-->

{% endblock %}

